@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;

400;500;600;700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.header__top {
  background-color: #020202;
  padding: 15px 0px;
  color: white;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.header__select {
  background-color: #020202;
  color: white;
  font-family: Poppins;
}

.header__option {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px 5px;
}

.header__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ACACAC;
}

.header__link:hover {
  text-decoration: underline;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 8px;
}

.contacts-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
}

.contacts-header__icon {
  max-width: 100%;
  max-height: 16px;
}

.header__main {
  border-bottom: 1px solid #CACDD8;
  padding: 28px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px 20px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 20px 30px;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 28px;
}

.logo-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41px;
          flex: 0 0 41px;
  width: 41px;
}

.logo-header__icon {
  max-width: 100%;
  max-height: 41px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-header__item:not(:last-child) {
  margin-right: 25px;
}

.menu-header__item:hover {
  text-decoration: underline;
}

.menu-header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.button {
  border: 2px solid #0156FF;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 26px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #0156FF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #0156FF;
  color: white;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 25px;
}

.actions-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19px;
          flex: 0 0 19px;
  width: 19px;
}

.actions-header__icon {
  max-width: 100%;
  max-height: 19px;
}

.actions-header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  width: 36px;
}

.actions-header__image {
  max-width: 100%;
  max-height: 36px;
}

.footer {
  padding: 47px 0px 17px 0px;
  background-color: black;
}

.footer__top:not(:last-child) {
  margin: 0px 0px 45px 0px;
}

.footer__main:not(:last-child) {
  margin: 0px 0px 36px 0px;
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.titles-top-footer {
  color: #fff;
}

.titles-top-footer__title {
  font-weight: 500;
  font-size: 38px;
  line-height: 1.32;
}

.titles-top-footer__sub-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.32;
}

.subscribe-top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-subscribe-top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.form-subscribe-top-footer__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-width: 290px;
}

.input {
  display: block;
  width: 100%;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0 0 0 10px;
  min-height: 50px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.button_blue {
  background-color: #0156ff;
  color: #fff;
}

.button_blue:hover {
  background-color: #fff;
  color: #0156ff;
}

.main-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.content-main-footer {
  max-width: 300px;
}

.content-main-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
}

.content-main-footer__title:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

.content-main-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.content-main-footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
}

.content-main-footer__link span {
  color: #01A4FF;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  padding: 17px 0px 0px 0px;
  color: #fff;
}

.network-bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

.network-bottom-footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
}

.cards-bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  gap: 10px;
}

.cards-bottom-footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33px;
  height: 22px;
}

.cards-bottom-footer__icon img {
  max-width: 100%;
}

.copy-bottom-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.32;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: right;
}

.about-us {
  padding: 21px 0px;
}

.about-us__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.crumb-block__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crumb-block__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  top: 0;
  left: 38px;
  background: url(../img/main/about-us/arrow.webp) 0 0 no-repeat;
}

.crumb-block__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.crumb-block__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.crumb-block__link:not(:last-child) {
  margin: 0px 0px 19px 0px;
}

.crumb-block__link:hover {
  text-decoration: underline;
}

.family {
  padding: 96px 0px;
  background-color: black;
}

.family__container {
  max-width: 1160px;
}

.family__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
  gap: 30px;
}

.family__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.family__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.right-family__picture-ibg {
  padding: 0px 0px 104% 0px;
}

.left-family {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 465px;
          flex: 0 0 465px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.titles-block__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  color: #FFFFFF;
}

.titles-block__title:not(:last-child) {
  margin: 0px 0px 32px 0px;
}

.titles-block__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.titles-block__text:not(:last-child) {
  margin: 0px 0px 26px 0px;
}

.shop {
  padding: 62px 0px;
}

.shop__container {
  max-width: 1160px;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.shop__left:not(:last-child) {
  margin: 0px 0px 0px -58px;
}

.left-shop {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.left-shop__picture-ibg {
  padding: 0px 0px 71.68% 0px;
}

.right-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 465px;
          flex: 0 0 465px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.right-shop__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61px;
          flex: 0 0 61px;
  width: 61px;
}

.right-shop__logo:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.right-shop__icon {
  max-width: 100%;
  max-height: 50px;
}

.titles-block__title_black {
  color: black;
}

.titles-block__text_black {
  color: black;
}

.save-hands {
  padding: 79px 0px 57px 0px;
  background-color: black;
}

.save-hands__container {
  max-width: 1160px;
}

.save-hands__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.save-hands__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.save-hands__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.left-save-hands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 465px;
          flex: 0 0 465px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.left-save-hands__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61px;
          flex: 0 0 61px;
  width: 61px;
}

.left-save-hands__logo:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.left-save-hands__icon {
  max-width: 100%;
  max-height: 50px;
}

.right-save-hands__picture-ibg {
  padding: 0px 0px 122% 0px;
}

.quality {
  padding: 80px 0px 50px 0px;
}

.quality__container {
  max-width: 1160px;
}

.quality__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 70px;
}

.quality__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.quality__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.left-quality__picture-ibg {
  padding: 0px 0px 101% 0px;
}

.right-quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 465px;
          flex: 0 0 465px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.right-quality__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61px;
          flex: 0 0 61px;
  width: 61px;
}

.right-quality__logo:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.right-quality__icon {
  max-width: 100%;
  max-height: 50px;
}

.delivery {
  padding: 60px 0px;
  background-color: black;
}

.delivery__container {
  max-width: 1160px;
}

.delivery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 100px;
}

.delivery__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.delivery__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.left-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 465px;
          flex: 0 0 465px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.left-delivery__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61px;
          flex: 0 0 61px;
  width: 61px;
}

.left-delivery__logo:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.left-delivery__icon {
  max-width: 100%;
  max-height: 50px;
}

.right-delivery__picture-ibg {
  padding: 0px 0px 132.76% 0px;
}

.reviews {
  padding: 63px 0px;
}

.reviews__container {
  max-width: 1160px;
  margin: 0px auto;
  padding: 0px 15px;
}

.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F7FF;
  padding: 49px 15px 56px 15px;
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 922px;
  position: relative;
}

.reviews__content::before {
  content: "‘’";
  position: absolute;
  font-weight: 400;
  font-size: 96px;
  line-height: 1.5;
  color: #000;
  top: -30px;
  left: 0;
}

.reviews__top:not(:last-child) {
  margin: 0px 0px 22px 0px;
}

.top-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top-reviews__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 0 0 0 72px;
}

.top-reviews__text:not(:last-child) {
  margin: 0px 0px 7px 0px;
}

.top-reviews__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.bottom-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 30px;
}

.bottom-reviews__dottes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-reviews__dotte {
  background-color: #cacdd8;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.bottom-reviews__dotte:hover {
  background-color: #0156ff;
}

.product {
  padding: 64px 0px 43px 0px;
  background-color: #F5F7FF;
}

.product__container {
  max-width: 1160px;
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  gap: 30px;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 265px;
          flex: 0 1 265px;
  width: 265px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
  width: 65px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product__logo:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.product__icon {
  max-width: 100%;
  max-height: 65px;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.32;
}

.product__title:not(:last-child) {
  margin: 0px 0px 13px 0px;
}

.product__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
}

@media (max-width: 1050px) {
  .main-footer__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .content-main-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
    min-width: 300px;
  }
}

@media (max-width: 1020px) {
  .family {
    padding: 40px 0px;
  }

  .family__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .family__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .left-family {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .titles-block__title {
    text-align: center;
    font-size: 38px;
  }

  .titles-block__text {
    text-align: center;
  }

  .shop {
    padding: 40px 0px;
  }

  .shop__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .right-shop {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .save-hands {
    padding: 40px 0px;
  }

  .save-hands__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .left-save-hands {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .quality {
    padding: 40px 0px;
  }

  .quality__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .right-quality {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .delivery {
    padding: 40px 0px;
  }

  .delivery__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .left-delivery {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 1000px) {
  .header__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .header__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .titles-top-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .subscribe-top-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 950px) {
  .header__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 900px) {
  .product__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px 100px;
  }
}

@media (max-width: 700px) {
  .bottom-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 650px) {
  .content-main-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-width: 300px;
  }

  .copy-bottom-footer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .header__address {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .bottom-reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}